<%= link_to "New", new_admin_gallery_path %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Setting</th>
    </tr>
  </thead>
    <tbody class="sortable">
      <% @galleries.each do |gallery| %>
        <tr data-reorder-url="<%= reorder_admin_gallery_path(gallery) %>">
          <td><span class="sortable_icon">☰</span><%= link_to gallery.title, admin_gallery_path(gallery) %></td>
          <td><%= image_tag gallery.image.thumb %></td>
          <td><%= gallery.title %></td>
          <td><%= gallery.description %></td>
          <td>
            <%= link_to "Edit", edit_admin_gallery_path(gallery) %>
            |
            <%= link_to "Destroy", admin_gallery_path(gallery), method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>

<script>
$( ".sortable" ).sortable({
  axis: 'y',       // 限制只能上下拖拉
  items: 'tr',     // 拖拉整个 tr
  cursor: 'move',  // 变更拖拉时的 icon
  handle: ".sortable_icon",  // 限制只有点 ☰ 才能开始拖拉，砍掉这行的话，会是整个 tr 都可以进行拖拉，你可以试试看
  stop: function(e, ui){     // 当拖拉结束时，会调用这个方法
    ui.item.children('td').effect('highlight', {}, 1000)
  },
  update: function(e, ui) {   // 当拖拉结束并且 DOM 上的位置变更时，会调用这个方法
    reorder_url = ui.item.data('reorder-url')
    position = ui.item.index()  // 取得顺序
    $.ajax({
     type: 'POST',
     url: reorder_url,
     dataType: 'json',
     data: { position: position }
    })
  }
});
</script>
