<!--   *** SIDEBAR ***-->
<div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
  <div class="sidebar-content">
    <h1 class="sidebar-heading"> <a href="index.html">Doris Lin</a></h1>
    <p class="sidebar-p">I am a creative illustrator and graphic designer with more than 10 years of experience. </p>
    <p class="sidebar-p">Originally from Toronto, currently based in London. </p>
    <ul class="sidebar-menu">
      <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
      <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>
      <li class="<%= 'active' if current_page?(contact_path) %>"><%= link_to "Get in touch", contact_path %></li>
    </ul>
    <p class="social"><a href="#" data-animate-hover="pulse" class="external facebook"><i class="fa fa-facebook"></i></a><a href="#" data-animate-hover="pulse" class="external gplus"><i class="fa fa-google-plus"></i></a><a href="#" data-animate-hover="pulse" class="external twitter"><i class="fa fa-twitter"></i></a><a href="#" title="" class="external instagram"><i class="fa fa-instagram"></i></a><a href="#" data-animate-hover="pulse" class="email"><i class="fa fa-envelope"></i></a></p>
    <div class="copyright">
      <p class="credit">&copy;2017 NicLin | Template by <a href="https://bootstrapious.com/tutorials" class="external">Bootstrapious</a></p>
      <!-- Please do not remove the backlink to us, unless you support the development at https://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)        -->
    </div>
  </div>
</div>
<!--   *** SIDEBAR END ***  -->
