<div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
  <div class="sidebar-content">
    <h1 class="sidebar-heading"> <%= link_to "Doris Lin", root_path %></h1>
    <p class="sidebar-p"> 我是一名 UI 設計師，有一年以上的網站 UI 設計經驗，會手繪、電繪、平面設計，對於美感有自己的執著。 </p>
    <ul class="sidebar-menu">
      <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "作品集", root_path %></li>
      <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "關於我", about_path %></li>
    </ul>
    <p class="social">
      <a href="https://www.behance.net/doristaiwaa0be" data-animate-hover="pulse" class="external behance">
        <i class="fa fa-behance"></i>
      </a>

      <a href="mailto:doristaiwan12@gmail.com" data-animate-hover="pulse" class="email">
        <i class="fa fa-envelope"></i>
      </a>
    </p>
    <div class="copyright">
      <p class="credit">Copyright ©2017 Doris Lin <br>
    Design by <a href="https://www.linkedin.com/in/nic-lin/" target=_new>Nic Lin</a></p>
    </div>
  </div>
</div>
