<!DOCTYPE html>
<html>
  <head>
    <title>Dorislin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta property="og:image" content="<%= page_image %>"/>
    <%= render_page_title_meta_tag %>
    <%= render_page_description_meta_tag %>
    <%= render_page_keywords_meta_tag %>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascripts %>
  </head>
  <body>
    <div id="all">
      <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
          <%= render "common/side_bar"%>
          <div class="col-xs-12 col-sm-8 col-md-9 content-column <%= "white-background" unless current_page?(root_path) %>">
            <div class="small-navbar visible-xs">
              <button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left"> <i class="fa fa-align-left"> </i>Menu</button>
              <button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left"> <i class="fa fa-align-left"> </i>Menu</button>
              <h1 class="small-navbar-heading"> <%= link_to "Doris Lin", root_path %></h1>
            </div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%= render "common/google_analytics" if Rails.env.production? %>
</html>
